<header class="navbar navbar-dark sticky-top flex-md-nowrap p-0 shadow top-header">
  <button class="navbar-toggler position-absolute d-md-none hamburger ms-2" type="button" data-bs-toggle="collapse"
    data-bs-target="#sidebarMenu" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="index.html">Tech Blog Admin</a>

  <div class="dropdown ms-3 me-3 right-dropdown-div">

    <button class="btn" id="bd-versions" type="button" data-bs-toggle="dropdown" aria-expanded="false"
      data-bs-display="static">
      <span data-feather="settings">
    </button>
    <ul class="dropdown-menu dropdown-menu-end right-dropdown" aria-labelledby="bd-versions">
      <li>
        <h6 class="dropdown-header">Super Admin</h6>
      </li>
      <hr class="dropdown-divider" />
      <li>
        <a class="dropdown-item current" href="#" aria-current="true"><span data-feather="tool"></span> Settings</a>
      </li>
      <li>
        <a class="dropdown-item" href="#" aria-current="false"><span data-feather="mail"></span> Messages</a>
      </li>
      <li>
        <a class="dropdown-item" href="login.html" aria-current="false"><span data-feather="log-out"></span> Sign
          Out</a>
      </li>
    </ul>
  </div>
</header>

<div>
    <h1>Trang Chu</h1>
    <a href="/cpanel/product">Danh sach san pham</a>
    <br>
    <a href="/logout">Log Out</a>
</div>